
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  margin-bottom: 16vmin;
  font-family: 'Nunito', sans-serif;
}

header {
  background-color: #EE6055;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 48px;
}

.navigation {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 0;
  padding-right: 200px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.title {
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: 'Lilita One', sans-serif;
  font-size: 24px;
}

.navigation > a {
  color: white;
  text-decoration: none;
}

/* HOMEPAGE */

.recipes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 32vmin 0 32vmin;
  gap: 20px
}

@media (max-width: 1300px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .recipes-container {
    grid-template-columns: 1fr;
  }
}

.recipe {
  margin-bottom: 32px;
}

.recipe > a {
  text-decoration: none;
}

.image-home {
  width: 32vmin;
  color: black;
  font-weight: bold;
  height: 32vmin;
  object-fit: cover;
}

.a-home {
  text-decoration: none;
  color: #EE6055;
}

.a-home:visited {
  color: #EE6055
} 

/* SHOW PAGE */

.recipe-img {
  width: 100%;
  height: auto !important;
}

.save-btn {
  padding: 12px;
  color: #EE6055;
  background-color: white;
  border: 2px solid #EE6055;
  border-radius: 4px;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #EE6055;
  color: white;
}

#container {
  width: 60vmin;
  margin: auto;
}

.recipe-img {
  height: 40vmin;
}

.img-caption {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.prep-cook {
  display: flex;
  gap: 5px;
}

.lists {
  text-align: left;
}

/* REVIEWS */

.review-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

#add-review {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  width: 100%;
}

.review-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.delete-btn {
  color: black;
  border: none;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  background-color: white;
}

.delete-btn:hover {
  background-color: #EE6055;
  color: white;
}

.title-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

textarea {
  height: 8vmin;
  border-radius: 8px;
  width: 100%
}

.reviews {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  background-color: #fde9e8;
  padding: 24px;
  border-radius: 16px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.avatar {
  height: 32px;
  border-radius: 100%;
}

.review-user {
  display: flex;
  gap: 16px;
  align-items: center;
}

.rating-date {
  display: flex;
  gap: 24px;
  align-items: center;
}

.review-divider {
  border-bottom: 1px solid #EE6055;
  margin: 1em 0;
}

input {
  text-decoration: none;
  background-color: #EE6055;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 8vmin;
}

input:hover {
  cursor: pointer;
  background-color: #c64f46;
}