* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #EE6055;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 48px;
}

.navigation {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 0;
  padding-right: 48px;
}

.title {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

.navigation > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HOMEPAGE */

.recipe {
  margin-bottom: 48px;
}

.image-home {
  width: 40vmin;
  color: black;
  font-weight: bold;
  height: 40vmin;
  object-fit: cover;
}

.a-home {
  text-decoration: none;
  color: #EE6055;
}

.a-home:visited {
  color: #EE6055
} 


/* RECIPE PAGE */

#container {
  width: 60vmin;
  margin: auto;
}

.recipe-img {
  height: 40vmin;
}

.img-caption {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.prep-cook {
  display: flex;
  gap: 5px;
}

.lists {
  text-align: left;
}

/* REVIEWS */

.review-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

#add-review {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  width: 100%;
}

.title-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

textarea {
  height: 8vmin;
  border-radius: 8px;
  width: 100%
}

.reviews {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.avatar {
  height: 32px;
  border-radius: 100%;
}

.review-user {
  display: flex;
  gap: 16px;
  align-items: center;
}

.rating-date {
  display: flex;
  gap: 24px;
  align-items: center;
}

.review-divider {
  border-bottom: 1px solid lightgray;
  margin: 1em 0;
}

input {
  text-decoration: none;
  background-color: #EE6055;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 8vmin;
}

input:hover {
  cursor: pointer;
  background-color: #c64f46;
}