* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #EE6055;
  padding: 30px;
}

header > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HOMEPAGE */

.recipe {
  margin-bottom: 48px;
}

.image-home {
  width: 40vmin;
  color: black;
  font-weight: bold;
}

.a-home {
  text-decoration: none;
  color: #EE6055;
}

.a-home:visited {
  color: #EE6055
} 


/* RECIPE PAGE */

section {
  width: 60vmin;
  margin: auto;
}

.recipe-img {
  height: 40vmin;
}

.img-caption {
  display: flex;
  justify-content: space-between;
}

.prep-cook {
  display: flex;
  gap: 5px;
}